body{
    height: 100%;
    background-color: #221f20;
}

.my-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    font-size: 20pt;
    min-height: 20vh;
} 

.my-nav-button {
    color: rgb(212, 209, 209);
    background-color: transparent;
    height: 40px;
    width: 260px;
    border-color: transparent;
}

.flexbox-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.absolute-images {
    position: static;
}

.circle-container {
    position: relative;
    width: 600px;
    height: 600px;
    padding: 20px;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 60px auto;
    color: transparent;
}

.image-area {
    display: block;
    position: relative;
    margin: auto;
    height: 100%;
}

.fixed-position {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%;
}

.portrait {
    background-color: rgb(204, 201, 201);
    padding: 5px;
    border-radius: 10%;
}

.corporate-logo  {
    height: 100px;
}

.portrait-position { transform: translate(-50%, -50%); }
.image1-position { transform:  translate(-50%, -50%) rotate(-54deg) translate(380px) rotate(54deg); }
.image2-position { transform:  translate(-50%, -50%) rotate(-23deg) translate(380px) rotate(23deg); }
.image3-position { transform:  translate(-50%, -50%) rotate(8deg) translate(380px) rotate(-8deg); }
.image4-position { transform:  translate(-50%, -50%) rotate(39deg) translate(380px) rotate(-39deg); }
.image5-position { transform:  translate(-50%, -50%) rotate(90deg) translate(380px) rotate(-90deg); }
.image6-position { transform:  translate(-50%, -50%) rotate(141deg) translate(380px) rotate(-141deg); }
.image7-position { transform:  translate(-50%, -50%) rotate(172deg) translate(380px) rotate(-172deg); }
.image8-position { transform:  translate(-50%, -50%) rotate(203deg) translate(380px) rotate(-203deg); }
.image9-position { transform:  translate(-50%, -50%) rotate(234deg) translate(380px) rotate(-234deg); }

.rotate-ccw-10 {
    transform: rotate(-10deg);
    margin-top: 30px;
}

.rotate-cw-10 {
    transform: rotate(10deg);
    margin-top: 40px;
}
