body{
    height: 100%;
    background-color: #221f20;
}

/* @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./assets/fonts/Cafe\ Francoise_D.otf) format('otf');
} */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    /* font-size: 20pt; */
    font-family: 'Brush Script MT', cursive;
    min-height: 20vh;
} 

.nav-button {
    color: rgb(212, 209, 209);
    background-color: transparent;
    border-color: transparent;
}

.flexbox-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.absolute-images {
    position: static;
}

.window-size-test {
    color: rgb(212, 209, 209);
}

.circle-container {
    position: relative;
    width: 600px;
    height: 600px;
    padding: 20px;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 60px auto;
    color: transparent;
}

.image-area {
    display: block;
    position: relative;
    margin: auto;
    height: 100%;
}

.fixed-position {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%;
}

.card-position {
    display: block;
    position: relative;
    top: 0%; 
    left: 0%;
}

.portrait {
    background-color: rgb(204, 201, 201);
    padding: 5px;
    border-radius: 10%;
}

.corporate-logo  {
    height: 100px;
}

.corporate-logo-large  {
    height: 120px;
}

.test-position { transform: translate(300px, 300px); }
.portrait-position { transform: translate(-50%, -50%); }
.image1of9-position { transform:  translate(-50%, -50%) rotate(-54deg) translate(380px) rotate(54deg); }
.image2of9-position { transform:  translate(-50%, -50%) rotate(-23deg) translate(380px) rotate(23deg); }
.image3of9-position { transform:  translate(-50%, -50%) rotate(8deg) translate(380px) rotate(-8deg); }
.image4of9-position { transform:  translate(-50%, -50%) rotate(39deg) translate(380px) rotate(-39deg); }
.image5of9-position { transform:  translate(-50%, -50%) rotate(90deg) translate(380px) rotate(-90deg); }
.image6of9-position { transform:  translate(-50%, -50%) rotate(141deg) translate(380px) rotate(-141deg); }
.image7of9-position { transform:  translate(-50%, -50%) rotate(172deg) translate(380px) rotate(-172deg); }
.image8of9-position { transform:  translate(-50%, -50%) rotate(203deg) translate(380px) rotate(-203deg); }
.image9of9-position { transform:  translate(-50%, -50%) rotate(234deg) translate(380px) rotate(-234deg); }

.image1of5-position { transform:  translate(-50%, -50%) rotate(-30deg) translate(380px) rotate(30deg); }
.image2of5-position { transform:  translate(-50%, -50%) rotate(20deg) translate(380px) rotate(-20deg); }
.image3of5-position { transform:  translate(-50%, -50%) rotate(90deg) translate(380px) rotate(-90deg); }
.image4of5-position { transform:  translate(-50%, -50%) rotate(160deg) translate(380px) rotate(-160deg); }
.image5of5-position { transform:  translate(-50%, -50%) rotate(210deg) translate(380px) rotate(-210deg); }

.card-style { 
    margin-top: 100px;
    color: white;
    font-size: 19px;
}


.rotate-ccw-10 {
    transform: rotate(-10deg);
}

.rotate-cw-10 {
    transform: rotate(10deg);
}

.test-text {
    color: white;
}
